[Unit]
Description=Aeron-Artio Exp (%i)
After=network.target

[Service]
User=artio
WorkingDirectory=/opt/apps/
EnvironmentFile=/opt/apps/env/%i.env
ExecStart=/bin/bash -c 'exec taskset -c ${CPU_AFFINITY} /usr/bin/java ${JAVA_OPTS} --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.base/jdk.internal.misc=ALL-UNNAMED -jar /opt/apps/artio-cookbook.jar'
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
